<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header class="backgroundLayout">
    <div >
        <h1 class="h1Layout">Herzlich Wilkommen  bei FriendCloud</h1>
        </div>
        <div class="buttonStyle" >
            <button class="btn" (click)="tryToRegister()"><i class="fa fa-pencil"></i> Regestrieren</button>
        </div> 
        <div class="buttonStyle" >
            <button class="btn" (click)="tryToLogin()"><i class="fa fa-sign-in"></i> Login</button>
        </div> 
</header>