<div class="backgroundLayout">
    <h1>Login</h1>
    <div>
     <div>
         <label>Bitte geben Sie den BenuterName oder Email ein</label>
         <input #loginUserName type="text" placeholder="BenuterName"/>
     </div>
        <div>
         <label>Bitte geben Sie das Passwort ein</label>
         <input #loginPassWord type="password" placeholder="Passwort"/>
        </div>
        <div class="buttonLayout">
        <button class="buttonStyle" >Einloggen</button>
        <button class="buttonStyle"  >Zurück</button>
    </div>
    </div>
 </div>
