<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="backgroundLayout">
    <h1>Login</h1>
    <div>
     <div>
         <label>Bitte geben Sie den BenuterName oder Email ein</label>
         <input #loginUserName type="text" placeholder="BenuterName"/>
     </div>
        <div>
         <label>Bitte geben Sie das Passwort ein</label>
         <input #loginPassWord type="password" placeholder="Passwort"/>
        </div>
        <div class="buttonLayout">
            <button class="btn" (click)="tryToLogin(loginUserName.value,loginPassWord.value)"><i class="fa fa-sign-in"></i> Einloggen</button>
        <button class="btn" (click)="backToStart()"><i class="fa fa-undo"></i> Zurück</button>
       
    </div>
    </div>
 </div>
