<div class="backgroundLayout">
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container">
      
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
                  <div class="topnav" id="topnav"> 
                      
                    <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#" > Freunde</a>
                    <a class="nav-item nav-link" href="#"> Listen</a>
                    <a class="nav-item nav-link disabled" href="#" > Disabled</a>
                    <div class="searchBox">
                        <input  type="search" placeholder="Suchen Freunde" aria-label="Search">
                        <button type="button">Suchen</button>
                    </div>
                   
                  </div>
                </div>
                
              
        </div>
    </nav>
    <div>
    <img src="assets\backgroundFriendCloud.jpg" />
        <router-outlet></router-outlet>
</div>


//<li class="nav-item"><a class="nav-link" routerLink="home"> Home </a></li>
//<li class="nav-item"><a class="nav-link" routerLink="about"> About </a></li>
//<li class="nav-item"><a class="nav-link" routerLink="courses">Courses </a></li>
